@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
header{
    position: fixed;
    width: 100vw;
}
header nav{
    width: inherit;
}
.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: black;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.nav-items{
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
}
.item{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .nav-link{
    text-decoration: none;
    list-style: none;
    transition: 100ms ease;
}
@media (max-width: 700px) {
    .toggle-button{
        display: flex;
    }
    .nav-items{
        display: none;
    }
    .nav-items{
        flex-direction: column;
        align-items:center;
        margin: 10px;
        margin-top: 40px;
    }
    .active{
        display: flex;
    }
}
.link:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 200ms ease;
}
.link-text{
    color: rgb(229, 229, 229);
    font-size: 2rem;
    font-weight: 400;
}
main{
    margin: 0;
    padding: 0;
}
section{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(0,0,0);
    color: white;
    margin: 0;
    padding: 0;
}
.home{
    background-image: url("./img/backC.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 2rem;
    min-height: 60vh;
    width: 80vw;
}
.content p{
    color: white;
    margin: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 80vh;
}
.tagline{
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    width: 70%;
    border-bottom: 5px solid rgb(252, 163, 17);
}
.tagline .name{
    color: white;
    padding: 0;
    margin: 0;
}
.tagline h1.name{
    font-size: 3rem;
}
.skill-achievement{
    display: flex;
    justify-content: space-evenly;
    margin: 0;

}
.sec2-h{
    color: rgb(252, 163, 17);
}
.div1{
    margin: 20px;
}
.div2{
    margin: 20px;
}
.portfolio{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio h1{
    font-weight: 300;
}

footer{
    height: 50vh;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact-us form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
.container input{
    border: none;
    height: 25px;
    width: 200px;
    
}
.container .message{
    height: 100px;
}
.contact-us form button{
    width: 100px;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(252, 163, 17);
    padding: 10px;
    border-radius: 5px;
}
.blogs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.upper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 5vh;
}
.add-blogs{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    text-decoration: none;
    width: fit-content;
}
.success{
    background-color: rgba(7, 151, 7, 0.599);
    font-size: 1rem;
    padding: 1rem;
}
.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card-body{
    border-radius: 10px;
    max-width: 400px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(20, 33, 61);
    color: white;
    font-size: 1.2rem;
}
.card-body h2,p{
    margin: 3px;
}

#Login_form{
    /* position: relative; */
    margin-top:300px;
}